header { 
    text-align: center;
    font-size: 48px;
}

* {
    text-transform: lowercase;
    font-family: monospace;
}

ul li {
    text-decoration: none;
    background-color: white;
    display:inline-block;
    border: 2px solid black;
    padding: 5px;
}

ul li a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;

}

li:hover {
    background-color: rgb(182, 182, 182);
}

body {
    background: linear-gradient(45deg, rgb(255, 145, 161),pink);
}

h1 {
    font-size: 36px;
}

p {
    font-size: 24px;
}