header { 
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    font-weight: bold;
    flex-direction: column;
    padding: 1rem 1rem;
    background-color: #90BFEE;
    text-align: center;
}


* {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
}

ul li {
    text-decoration: none;
    background-color: white;
    display: inline-block;
    border: .2rem solid black;
    padding: 0 .4rem;
    border-radius: .2rem;
    align-items: center;
}

ul li a {
    text-decoration: none;
    font-size: .8rem;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: right;
    margin: 7px;
}

ul {
    list-style-type: none;
    display: inline-block;
    align-items: right;
    margin: 0;
    padding: 0;
}

li:hover {
    background-color: rgb(212, 212, 212);
}

body {
    background: #90BFEE;
}

h1 {
    font-size: 3rem;
    padding: 1rem 0rem;
}

p {
    font-size: 2.5rem;
    font-weight: 500;
    padding: 0;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: black;
    border: .15rem solid white;
    border-radius: .9rem;

}

::-webkit-scrollbar {
    width: .5em;
}

#missionstatement {
    padding-top: 3rem;
    padding-bottom: 8rem;
    background-color: lightcyan;
    position: relative;
    padding-top: 1rem;
    padding-left: .2rem;
    padding-right: .2rem;
    display: flex;
    flex-direction: column;
    background-color: #90BFEE;
}

#para {
    padding-left: 1rem;
    padding-right: 1rem;
}


#missionstatement img {
    display: block;
    border: .5rem solid black;
    margin-right: 2rem;
    border-radius: .2rem;
    margin-left: 2rem;
    max-width: 90%;
    max-height: 30rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}

#rounded {
    margin: 50px 30px;
    height: 10px;
    border-radius: 10px;
    background-color: black;
  }

#mainheader {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    text-transform: none;
    padding-bottom: 2rem;
}

#title {
    text-transform: none;
    padding-bottom: 1rem;
}

.button {
    display: flex;
    background-color: white;
    color: black;
    font-weight: bold;
    border: .4rem solid black;
    border-radius: .2rem;
    text-decoration: none;
    width: 10rem;
    margin: auto;
}

.benefit p {
    padding-bottom: 3rem;
}

.benefit a {
    justify-content: center;
    padding: .7rem;
}

#para .button {
    margin-top: 3rem;
    padding: .9rem;
    font-size: 1.5rem; 
}

p > a {
font-size: 1.5rem;
}

@media only screen and (min-width: 800px) {
    #missionstatement {
        padding-top: 5rem;
        padding-left: max(5rem);
        padding-right: max(5rem);
        flex-direction: row;
        background-color: #90BFEE;
        max-width: 100%;
    }
    
    #para {
    padding-left: 6rem;
    padding-right: 0rem;
    }

    #missionstatement img {
        border: .8rem solid black;
    }
        
    ul li {
        text-decoration: none;
        background-color: white;
        display: inline-block;
        border: .4rem solid black;
        padding: 0 .4rem;
        border-radius: .2rem;
    }

    ul li a {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: bold;
        color: black;
        display: flex;
        justify-content: right;
        margin: 7px;
    }

    ul {
        list-style-type: none;
        display: inline-block;
        align-items: right;
        margin: 0;
        padding: 0;
    }

    header { 
        display: flex;
        justify-content: space-between;
        font-size: 3rem;
        font-weight: bold;
        flex-direction: row;
        padding: 1rem 1rem;
        background-color: #90BFEE;
    }    

}

/* section svgs*/
.benefit {
    padding-top: 10rem;
    padding-bottom: 8rem;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: lightgreen;
    position: relative;
}

.projectone {
    padding-top: 12rem;
    padding-bottom: 2rem;
    background-color: #EEBF90;
    position: relative;
    padding-left: 5rem;
    padding-right: 5rem;
}

.projecttwo {
    padding-top: 17rem;
    padding-bottom: 6rem;
    background-color: lightcyan;
    position: relative;
    padding-left: 5rem;
    padding-right: 5rem;
}

.projectthree {
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: #EE90EE;
    position: relative;
    padding-left: 5rem;
    padding-right: 5rem;
}

/* SVG Waves */

.custom-shape-divider-top-1640977470 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1640977470 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 109px;
}

.custom-shape-divider-top-1640977470 .shape-fill {
    fill: #90BFEE;
}

.custom-shape-divider-top-1640979319 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1640979319 svg {
    position: relative;
    display: block;
    width: calc(108% + 1.3px);
    height: 138px;
}

.custom-shape-divider-top-1640979319 .shape-fill {
    fill: lightgreen;
}

.custom-shape-divider-top-1640979093 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1640979093 svg {
    position: relative;
    display: block;
    width: calc(175% + 1.3px);
    height: 325px;
}

.custom-shape-divider-top-1640979093 .shape-fill {
    fill: lightgreen;
}

.custom-shape-divider-top-1640979882 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1640979882 svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 178px;
}

.custom-shape-divider-top-1640979882 .shape-fill {
    fill: #EEBF90;
}


.custom-shape-divider-top-1640979692 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1640979692 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 52px;
}

.custom-shape-divider-top-1640979692 .shape-fill {
    fill: lightcyan;
}
