header { 
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
    font-weight: bold;
    flex-direction: column;
}

@media (min-width: 40em) {
    header {
        flex-direction: row;
    }
}

* {
    text-transform: lowercase;
    font-family: 'Space Grotesk', sans-serif;
}

ul li {
    text-decoration: none;
    background-color: white;
    display: inline-block;
    border: .4rem solid black;
    padding: 0 .4rem;
}

ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: right;
    margin: 7px;
}

ul {
    list-style-type: none;
    display: inline-block;
    align-items: right;
    margin: 0;
    padding: 0;
}

li:hover {
    background-color: rgb(212, 212, 212);
}

body {
    background: linear-gradient(45deg, rgb(255, 145, 161),pink);
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
    padding: 1rem;
}

::-webkit-scrollbar-track {
    background:linear-gradient(45deg, rgb(255, 145, 161),pink);
}

::-webkit-scrollbar-thumb {
    background: black;
    border: .3rem solid white;
    border-radius: .8rem;

}

::-webkit-scrollbar {
    width: 1em;
}

#missionstatement {
    padding-top: 7rem;
    padding-bottom: 1.5rem;
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
}

@media (min-width: 55rem) {
    #missionstatement {
        flex-direction: row;
    }
}

img {
    border: 1rem solid black;
    margin-right: 2rem;
}

#rounded {
    margin: 50px 30px;
    height: 10px;
    border-radius: 10px;
    background-color: black;
  }

#mainheader {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    text-transform: none;
}

#title {
    text-transform: none;
}

