* {
  font-family: inter;
  margin: 0;
  padding: 0;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  font-weight: bold;
  flex-direction: row;
  padding: 1rem;
  background-color: #1a1a1a;
  max-width: 100vw;
}
.menu .mItem {
  text-decoration: none;
  padding: 0 1rem;
  border-radius: 0.2rem;
  display: block;
}
@media only screen and (min-width: 800px) {
  .menu .mItem {
    position: relative;
    float: left;
    text-align: center;
  }
}
.menu .mItem a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}
.menu {
  list-style-type: none;
  display: inline-block;
  align-items: right;
  margin: 0;
  padding: 0;
}

.mainheader {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  flex-direction: column;
  padding: 3rem 0 0 0;
  font-weight: bold;
  font-size: 4rem;
  color: black;
  text-align: center;
  font-weight: bold;
}

.mItem:hover {
  text-decoration: underline 3px;
}

body {
  background: #1a1a1a;
}

p {
  font-size: 2.5rem;
  font-weight: 600;
}
.missionstatement {
  padding-top: 5rem;
  padding-left: max(5rem);
  padding-right: max(5rem);
  flex-direction: row;
  background-color: #1a1a1a;
  max-width: 100%;
}

.para {
  text-align: left;
  padding: 1rem 3rem;
  margin-top: 2rem;
  font-size: 2rem;
}

.missionstatement img {
  display: block;
  margin: auto;
  max-width: 40rem;
  max-height: 40rem;
}

.missionstatement .para {
  margin-top: 2rem;
}

.rounded {
  margin: 50px 30px;
  height: 10px;
  border-radius: 10px;
  background-color: black;
}

.title {
  text-transform: none;
  padding-bottom: 1rem;
}

.button {
  display: flex;
  background-color: white;
  color: black;
  font-weight: bold;
  text-decoration: none;
  max-width: 15rem;
  height: 2.5rem;
  margin: 3rem auto;
  padding: auto auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.button:hover {
  background-color: lightgrey;
}

.button p {
  justify-content: center;
}

.benefit p {
  padding-bottom: 3rem;
}

.benefit {
  padding: 5rem;
}

.benefit a {
  justify-content: center;
  padding: 0.7rem;
}

.para .button {
  margin-top: 3rem;
  height: fit-content;
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
}

p > a {
  font-size: 1.5rem;
}

.aboutus {
  display: inline-block;
}

.trio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 0.5rem;
  place-items: center;
}
.trio div {
  display: flex;
  justify-content: center;
  width: fit-content;
}
.trio div img {
  max-width: 20rem;
  max-height: 15rem;
  border-radius: 0.2rem;
}

@media only screen and (max-width: 800px) {
  .trio {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .trio div {
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  .missionstatement {
    padding-top: 3rem;
    padding-bottom: 10rem;
    background-color: #1a1a1a;
    position: relative;
    padding-top: 1rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    display: flex;
    flex-direction: column;
  }
}

/* section svgs*/
.benefit,
.sectionone,
.sectiontwo,
.sectionthree {
  padding: 1rem 0 1rem 0 !important;
  position: relative;
}
.benefit {
  background-color: #fff;
  color: black;
}
.sectionone {
  background-color: #eebf90;
}

.sectiontwo {
  background-color: lightcyan;
}
.sectionthree {
  background-color: #ee90ee;
}

.projectone {
  margin: 3rem;
}

.projectone img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  width: 50rem;
}

.projectone .mItem {
  text-decoration: none;
  font-size: 2rem;
}

.projectone h3 {
  margin-top: 5rem;
}

.workshopone {
  margin: 3rem;
  display: block;
  text-align: center;
}

/* The sidebar menu */
.sidenav {
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: transparent; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10%;
  margin-left: 2rem;
  border-radius: 1.5rem;
  background-color: #fff;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1rem;
  color: black;
  display: block;
  font-weight: bold;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  text-decoration: underline;
}

/* Style page content */
.workshops {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.workshops hr {
  width: 75rem;
  margin: auto;
  margin-top: 7rem;
  margin-bottom: 5rem;
  background-color: #fff;
  height: 0.1rem;
}


.container {
    position: relative;
    overflow: hidden;
    width: 60%;
    padding-top: 40%; 
    margin: auto;
  }
  
  .cad {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

@media scrren and (max-width: 600px) {
    .cad {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}